#root {
	max-width: 1470px;
	width: 100%;
	margin: 0 auto;
}

.posts-list {
	border: 1px solid lightsalmon;
}

.post {
	padding: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	border: 2px solid lightcoral;
}
